.header {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 50px;
  padding-left: 8px;
}

.logo {
  font-size: 50px;
}

.section {
  padding: 24px;
}

.heading {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 8px;
}

.paragraph {
  font-size: 20px;
  padding-bottom: 16px;
}

.horizontal-rule {
  width: 95%;
  border-bottom: 1px solid black;
  position: absolute;
}

.space{
  padding-top: 8px;
}

.split{
  display:flex;
  align-items: start;
}

.bert {
  height: 200px;
  padding:20px;
  padding-top: 0;
}